@import "/src/styles/breakPoints";
@import "/src/styles/mixins";

.homeContainer {
  margin-top: 20px;

  @include respond-above("md") {
    margin-top: 32px;
  }

  .homeDevelopedBy {
    font-weight: 600;
    font-size: 14px;

    @include respond-above("lg") {
      font-size: 15px;
    }
    @include respond-above("xl") {
      font-size: 16px;
    }

    @media screen and (max-width: 300px) {
      font-size: 10px;
    }
  }
}

.chatContainer {
  background-color: #232323;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding: 5px 0;

  @include respond-above("sm") {
    font-size: 13px;
  }
  @include respond-above("md") {
    font-size: 14px;
  }
  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }

  .chatDevelopedBy {
    color: #e0e0e0;
    font-size: 12px;
    font-weight: 600;

    @include respond-above("sm") {
      font-size: 13px;
    }
    @include respond-above("md") {
      font-size: 14px;
    }
    @include respond-above("lg") {
      font-size: 15px;
    }
    @include respond-above("xl") {
      font-size: 16px;
    }
  }
}
