@import "/src/styles/breakPoints";
@import "/src/styles/mixins";

.container {
  position: fixed;
  width: fit-content;
  bottom: 0vh;
  transition: bottom 0.3s ease;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  margin: 0 auto;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
  }
  @include respond-above("lg") {
  }
  @include respond-above("xl") {
    width: 1000px;
  }

  &.scrollbar {
    left: calc(50% - 6px);
  }
}
