@import "/src/styles/breakPoints";
@import "/src/styles/mixins";

.homeTitle {
  font-size: 14px;
  @include respond-above("md") {
    font-size: 32px;
  }

  @media screen and (max-width: 300px) {
    font-size: 13.25px;
  }
}

.chatTitle {
  color: rgb(224, 224, 224);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;

  @include respond-above("sm") {
    padding-top: 12.5px;
    font-size: 24px;
  }
  @include respond-above("md") {
    padding-top: 15px;
    font-size: 26px;
  }
  @include respond-above("lg") {
    padding-top: 17.5px;
    font-size: 28px;
  }
  @include respond-above("xl") {
    padding-top: 20px;
    font-size: 32px;
  }
}
