@import "/src/styles/breakPoints";
@import "/src/styles/mixins";

@mixin developer() {
  font-size: 14px;

  // @include respond-above("sm") {
  //   font-size: 13px;
  // }
  // @include respond-above("md") {
  //   font-size: 14px;
  // }
  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }

  @media screen and (max-width: 300px) {
    font-size: 10px;
  }
}

.homeDeveloper {
  font-size: 14px;
  margin: 5px 0;

  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }

  @media screen and (max-width: 300px) {
    font-size: 10px;
  }
}

.chatDeveloper {
  color: #e0e0e0;
  font-size: 12px;

  @include respond-above("sm") {
    font-size: 13px;
  }
  @include respond-above("md") {
    font-size: 14px;
  }
  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }
}
