@import "/src/styles/breakPoints";
@import "/src/styles/mixins";

.textarea {
  display: block;
  width: 100%;
  min-height: 18px;
  max-height: 200px;
  font-size: 18px;
  padding: 8px;
  padding-right: 30%;
  background-color: rgb(222, 222, 222);
  resize: none;
  border: none;
  outline: none;
  border-radius: 4px;
  overflow-y: hidden;
  font-size: 14px;

  @include respond-above("sm") {
    font-size: 15px;
    padding-right: 30%;
  }
  @include respond-above("md") {
    font-size: 16px;
    padding-right: 25%;
  }
  @include respond-above("lg") {
    font-size: 17px;
    padding-right: 20%;
  }
  @include respond-above("xl") {
    font-size: 18px;
    padding-right: 15%;
  }
  @media screen and (max-width: 300px) {
    padding-right: 37.5%;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #717171;
  }
}
